/* constantes */

* {
    background-color: #212121;
    color: #fff;
    text-decoration: none;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

:root {
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-synthesis: none;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type = "checkbox"]:hover {
    cursor: pointer;
}

input:hover {
    background-color: #000;
}

button:hover {
    cursor: pointer;
    background-color: #000;
}

h2 {
    font-size: 30px;
}

input[type="text"] {
    font-size: 22px;
}