/* articulo modal */

.modal {
    display: flex;
    flex-direction: column;
}

.ganancia {
    width: 90%;
}

.error {
    color: red;
    font-size: 0.85rem;
    margin: 4px 0 10px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-contenido {
    height: 80%;
    width: 80%;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-out;
    position: relative;
}

.modal-nav {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.modal-nav button:first-child {
    font-size: 25px;
}

.modal-form {
    height: 60%;
    width: 100%;
}

.articulo-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.articulo-modal-input input[type="text"] {
    width: 90%;
}

.articulo-modal-input {
    margin-bottom: 30px;
}

.articulo-modal-input p {
    font-size: 22px;
}

.articulo-modal-input {
    width: 100%;
}

.articulo-modal-input-ganancia {
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
}

.texto-gris {
    color: #6a6767;
}

.checkbox {
    width: 20px;
}

.articulo-observacion {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.observacion {
    width: 950px;
    margin-right: 6%;
}

.observacion textarea {
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 0;
}

.grid {
    grid-template-columns: 5fr 1fr;
}

.articulo-tabla-menos {
    width: 100px;
}